*{
    padding: 0;
    margin: 0;
}
.login{
margin-top: 110px;
margin-left: 550px;
margin-right: 580px;

padding: 20px;
border: 1px solid black;
}
.login h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.login label{
    font-family: 'Times New Roman', Times, serif;
}
.login a{
text-decoration: none;
}
#image{
    background-repeat: no-repeat;
    background-size: cover;
}
 .submit-log{
    /* border: 1px solid white; */
    text-align: center;
    width: 88%;
    /* background-color: cornflowerblue; */
} 
.signup{
    border: 1px solid white;
    float: left;
    padding: 20px;
    margin-top: 100px;
    margin-left: 530px;
}
.signup h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .submit-login{
    /* background-color: #40a8c4; */
    text-align: center;
     /* width:100%;
     border: 1px solid black; */
} 
/* .containers{ */
    /* border: 5px solid black;  */
    /* margin-left: 5px;
    margin-right: 10px;
}
.district{
   border: 3px solid red;
   width: 24%;
   float: right;
   height: 400px;
   padding: 10px;
   margin-right: 10px;
   margin-top: 10px;
} */
.container{
    
    margin-top: 20px;
    
    
}
.card{
    /* border: 1px solid red; */
    margin-top: 20px;
    padding: 10px;
    width: 25%;
    float: left;
    height: 680px;
    margin-right: 20px;
}
/* .carousel-section{
    height: 20%;
} */
.content-section{
    background-color: #d6e0f0;
    margin-top: 30px;
    padding: 50px;
    line-height: 1.5;
}
.content-section h3{
text-align: center;
color: #40a8c4;
}
.content-section p{
    font-family: 'Times New Roman', Times, serif;
}
.row{
    /* border: 1px solid black; */
    margin: 3% 4%;
}
.card{
    border: 1px solid #d8d3cd;
    width: 300px;
}
/* .body{
    background-color: #d6e0f0;
} */
footer{
    background-color:  #40a8c4;
padding-top: 30px;
padding-bottom: 30px;
}
footer p{
    text-align: center;
    color: white;
    margin-bottom: 0;
   
}
/* .district {
    /* background-color: #d9ecf2; */
    /* background-color: red; */
        /* text-align: center; */
        /* color: #19d3da; */
/* .districts-sec{
    background-color: #d9ecf2;
} */
#district{
    background-color: #d9ecf2;
}
.districts-sec h1{
text-align: center;
color: #19d3da;
margin-top: 20px;
margin-bottom: 20px;
}
.districts-sec p{
    line-height: 1.5;
    color: #07689f;
    padding: 30px;
} 
.districts-sec img{
   margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}  
.districts-sec h2{
    text-align: center;
    color: #19d3da;
}
.district-nav{
    background-color: #40a8c4;
    height: 80px;
    

}
.district-nav img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 560px;
}
.district-nav a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
/* .tourist-sec{
    border: 1px solid red;
   height: 1800px;
   float: left;
   margin-left: 300px;
width: 30%;
/* margin-right: 10px; */

/* .tourist-sec img{
    width: 281px;
    height: 180px;
}  */
iframe{
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 390px;
}